
.indicator-state-enabled {
	padding: 4px;
	margin-top: 2px;
	margin-bottom: 2px;
	background-color: rgba(200,200,200, 0.7);
}

.indicator-state-disabled {
	margin-top: 2px;
	margin-bottom: 2px;
	padding: 4px;
}
